mixin video(video)
    div 
        h4=video.title
        ul
            li #{video.rating}
            li #{video.comments}
            li #{video.createdAt}
            li #{video.views}
            li #{video.id}