mixin video(video)
    div 
        a(href=`videos/${video.id}`) #{video.title} 
        ul
            li #{video.rating}
            li #{video.comments}
            li #{video.createdAt}
            li #{video.views}
            li #{video.id}